[color]
    ui = auto
[user]
	name = CPea
	email = cpea2506@gmail.com
[core]
	excludesfile = ~/.gitignore_global
    editor = lvim
[init]
	defaultBranch = main
[pull]
	rebase = true
[includeIf "gitdir:~/Work/Projects/"]
    path = ~/Work/Projects/.gitconfig
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
